* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    display: grid;
    place-items: center;
    height: 100vh;

    font-size: 15px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    
    background-color: var(--color-white);
    color: var(--color-grey-500) ;
    
  }

  h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
  }

  .light {
    font-weight: 200;
  }
  
  button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
  }
  
  button, input {
    border: none;
    background: none;
    outline: none;
  }

  main {
    width: 98vw;
    container-name: myContainer;
    container-type: inline-size;
  }
    
  :root {
      --color-red-500:#ea5353;
      --color-cyan-500:#45d3d3;
      --color-orange-500:#fcaf4a;
      --color-blue-500:#549ef2;

      --color-grey-400:#697077;
      --color-grey-500:#4c4e61;
      --color-white: #ffffff;
  }

div.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.top-content span {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 64px;
    max-width: 56ch;
}

div.cards-wrap {
    padding: 0 32px;
    gap: 32px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 1200px;
    align-items: center;
}

div.card {
    width: 100%;
    max-width: 350px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 10px 10px 27px -8px rgba(20,31,43,0.14);
    -webkit-box-shadow: 10px 10px 27px -8px rgba(20,31,43,0.14);
    -moz-box-shadow: 10px 10px 27px -8px rgba(20,31,43,0.14);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color-cyan {
    border-top: 4px solid var(--color-cyan-500);
    grid-column: 1;
    grid-row: 1 / span 2;
}

.color-red {
    border-top: 4px solid var(--color-red-500);
    grid-column: 2;
}

.color-orange {
    border-top: 4px solid var(--color-orange-500);
    grid-column: 2;
}

.color-blue {
    border-top: 4px solid var(--color-blue-500);
    grid-column: 3;
    grid-row: 1 / span 2;
}

div.icon {
    text-align: end;
}

@container myContainer (width < 376px) {
    div.cards-wrap {
        display: flex;
        flex-direction: column;
  }
}
